<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>This is a home page</h1>
    <h2>Item at index 1 from an array of names : <%=["vedant","suraj","vinod"][1] %></h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas libero iste veniam nemo cum sit animi atque
        veritatis! Repellat debitis expedita id ullam provident rerum voluptate error sapiente ducimus quas?
    </p>
    <button>Click me</button>
</body>

</html>