<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
</head>

<body>
    <h1>This page belongs to @<%= username %>
    </h1>
    <p style="font-size: 20px;"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique vero iste alias
        aspernatur, rem odit iure exercitationem animi! Tempore ipsam iste nam unde culpa repudiandae eius eveniet eum 
        laborum asperiores? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste eligendi nisi consequuntur soluta
        ut porro doloremque doloribus quos mollitia provident, saepe laboriosam modi id tempore veniam, dolorum possimus numquam. Et? </p>
    <button>Follow</button>
    <button>Message</button>
</body>

</html>