<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div>
    <h1 style="color: blue; margin : 30px; align-items: center; margin-left: 200px;" >Quora Posts</h1>
    <% for (let post of posts)
    { %>
        <div class="post">
            <div class="user">Username : <span style="font-style: italic;">@<%= post.username %></span></div>
            <div class="content">Content : <%= post.content %></div> <br>
            <a href="/posts/<%=post.id%>" >see in detail</a> &nbsp; &nbsp;
            <a href="/posts/<%=post.id%>/edit" >edit your post</a>

        </div>
    <% } %>
   
<button style="display: block; margin: 30px auto; color: blue;">
  <a href="/posts/new">Add new Posts</a>
</button>
    </div>
</body>
</html>