<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <% for (let post of posts)
    { %>
        <div class="post">
            <div class="user">Username : @<%= post.username %></div>
            <div class="content">Content : <%= post.content %></div>
        </div>
    <% } %>
    <br> <br>
    <a href="/posts/new">Add new Posts</a>
</body>
</html>