.post
{
    padding: 20px 50px;
    background-color: antiquewhite;
    margin: 30px;
    width: 400px;
}
.user
{
    font-style: italic;
    font-size: 24px;
}
.content
{
    font-size: 25px;
}
body{
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}